<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>    
    <body>
        <div class="index">
            <h1>Welcome to the Registry App!</h1>
                <p>
                    This is a simple application to demonstrate how to create a registry using Flask and SQLAlchemy.
                </p>
            <a href="/register">Go to the registration page</a>
        </div>
    </body>    
</html>