<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>    
    <body>
        <div class = "index">
            <h1>Registration Page</h1>
        </div>
        <form method="POST" action="/register">
            <input type="text" placeholder="name" name="name">
            <input type="email" placeholder="email" name="email">
            <button type="submit">Register</button>            
        </form>
    </body>    
</html>